::ng-deep mat-label{
  color: white !important;
}

::ng-deep .mat-form-field-underline {
  background: white !important;
}

input {
  color: white !important;
  caret-color: white !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}