<processing-indicator *ngIf="isProgress"></processing-indicator>
<header id="header" class="fixed-top d-flex align-items-center">
  <div style="height: 100%;" class="container d-flex justify-content-between">

    <div class="logo">
      <img class="logoImage" src="assets/img/logo.webp">
    </div>

    <nav id="navbar" class="navbar">
      <a class="nav-link" href="https://comfortmovers.co.nz/#hero">Home</a>
      <ul>
        <!-- <li><a class="nav-link" href="https://comfortmovers.co.nz/#hero">Home</a></li> -->
        <li><a class="nav-link" href="https://comfortmovers.co.nz/#about">About</a></li>
        <li><a class="nav-link" href="https://comfortmovers.co.nz/#services">Services</a></li>
        <li><a class="nav-link" href="https://comfortmovers.co.nz/#review">Review</a></li>
        <li><a class="active">Instant Quote</a></li>
        <li><a class="nav-link" href="https://comfortmovers.co.nz/#contact">Contact</a></li>
      </ul>
      <a href="tel:0223407710"><i class="bi bi-telephone-fill"></i></a>
      <a href="mailto:admin@comfortmovers.co.nz"><i class="bi bi-envelope-fill"></i></a>
    </nav>
  </div>
</header>

<div class="mainContainer" style="background-image: url(assets/img/picture.webp);">
  <div class="row rowContainer">
    <div class="col-md-6 col-sm-12">

      <ngb-carousel class="myCarousel">
        <ng-template ngbSlide>
          <img style="opacity: 0;" src="../assets/img/hero-carousel/1.webp" alt="Delhi Metro">
          <div class="carousel-caption carousel-div-item">
            <h4 style="color: white !important;" class="font-carousel" >Service with comfort</h4>
            <h3 style="color: white !important;" class="font-carousel">We are happy to move anything
              from a single item, right through to
              fully furnished homes, offices or
              apartments</h3>
          </div>
        </ng-template>
      </ngb-carousel>

    </div>
    <div class="col-md-6 col-sm-12 get-quotes-div">
      <h3 style="margin-top: 20px; font-weight: normal;">
        Get Your Quote
      </h3>
      <div class="row">
        <mat-form-field class="col-sm-12" appearance="fill">
          <mat-label>Full Name</mat-label>
          <input matInput type="text" (change)="saveChanges()" [(ngModel)]="order.name" required>
        </mat-form-field>

        <input type="hidden" id="gclid_field" name="gclid_field" [(ngModel)]="order.gclid" value="">

        <mat-form-field class="col-6" appearance="fill">
          <mat-label>Enter your Email</mat-label>
          <input matInput type="email" (change)="saveChanges()" [(ngModel)]="order.email" placeholder="pat@example.com" required>
        </mat-form-field>

        <mat-form-field class="col-6" appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input matInput type="tel" (keypress)="onlyNum($event)" (change)="saveChanges()" [(ngModel)]="order.phone" maxlength="10"
            required>
        </mat-form-field>

        <mat-form-field class="col-6" appearance="fill">
          <mat-label>Size of Move</mat-label>
          <mat-select [(ngModel)]="order.size" (selectionChange)="saveChanges()" required>
            <ng-container *ngFor="let size of sizes">
              <mat-option [value]="size">{{size}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-6" appearance="fill">
          <mat-label>Date</mat-label>
          <input (change)="saveChanges()" (click)="picker.open()" [(ngModel)]="order.date" readonly matInput
            [matDatepicker]="picker" [min]="minDate" required>
          <mat-datepicker-toggle style="color: white;" matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <google-address class="col-sm-12" [line1]="order.where?.special" (fullAddress)="setWhereAddress($event)"
          [label]="'Pickup Address'">
        </google-address>

        <google-address class="col-sm-12" [line1]="order.to?.special" (fullAddress)="setToAddress($event)"
          [label]="'Delivery Address'">
        </google-address>

        <mat-form-field class="col-sm-12" appearance="fill">
          <mat-label>Additional Notes</mat-label>
          <textarea (change)="saveChanges()" [(ngModel)]="order.additionalInfo" matInput></textarea>
        </mat-form-field>
      </div>
      <button class="submit-button" mat-raised-button (click)="submit()" color="primary">Submit</button>
    </div>
  </div>
</div>

<footer>
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="footer-content">
            <div class="footer-head">
              <div class="footer-logo">
                <img class="logoImage" src="assets/img/logo.webp">
              </div>
              <p>We make moving simple as we are house moving pros 😎</p>
              <div class="footer-icons">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/Comfort-Movers-105774034843709/" target="_blank"><i
                        class="bi bi-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="footer-content">
            <div class="footer-head">
              <h4>information</h4>
              <p>Moving your home is our business! We take pride in delivering the best moving service each and every
                time,
                which
                is why we are Auckland's go-to home moving service for many customers. We can help with home moves of
                all
                sizes,
                whether it’s just down the street or across the city.</p>
              <div class="footer-contacts">
                <p><a href="tel:0223407710"><span>Tel:</span><span style="color: #fff; font-weight: normal;">
                      0223407710</span></a></p>
                <p><a href="mailto:admin@comfortmovers.co.nz"><span>Email:</span><span
                      style="color: #fff; font-weight: normal;"> admin@comfortmovers.co.nz</span></a></p>
                <p><span>Working Hours:</span> 6am-6pm</p>
                <p><span>Location:</span> Albany, Auckland, New Zealand 0632</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="copyright text-center">
            <p>
              &copy; Copyright <strong>Comfort Movers</strong>. All Rights Reserved
            </p>
          </div>
          <div class="keywords">
            packing services cost, moving packing services near me, house packing services near me, house packing
            services, house packers, professional house packers, moving house packers, house packers near me, house
            packers
            auckland, home movers nz, home movers pack, home movers and packers, home movers near me, cheap home
            movers, home movers auckland, house removal firms, house removal quote online, house removal truck, house
            removal quotes, house removal costs, house removal and relocation, house removal service, house removal
            costs
            nz, cost of house removal nz, house removal companies near me, professional house removal company, house
            removal companies, house removal companies auckland, house removal company in auckland, house removal
            companies nz, packing and moving companies near me, best packing and moving companies, packing and moving
            companies, packing and moving companies auckland, rent a moving truck for a day, moving truck rental
            cost, moving truck cost, moving truck rental prices one way, moving truck rental prices, average cost of
            moving truck, moving truck prices, moving truck auckland, moving truck hire south auckland, auckland
            moving
            truck hire, moving truck hire west auckland, moving truck hire auckland, cheap moving truck hire
            auckland, moving truck hire nz, moving truck hire near me, moving truck hire north shore, cost of hiring a
            moving truck, moving truck hire prices, moving truck hire, house movers east auckland, house movers
            auckland
            nz, house movers west auckland, cheap house movers auckland, house movers south auckland, house movers
            auckland, house movers near me, house movers and packers, packers and movers charges, intercity packers
            and
            movers, house packers and movers near me, household packers and movers, allied packers and
            movers, professional packers and movers, packers and movers cost, best packers and movers, packers and
            movers, prices packers and movers, cheap house movers, cheap house movers near me, full house movers,
            house
            movers north shore, highway house movers nz, house movers nz, cheap house moving companies, best house
            moving
            companies, house moving companies near me, house moving companies, house moving services near me, house
            moving
            service, house moving service near me, house moving and storage, house moving companies nz, house moving
            companies auckland, packers and movers near me, packers and movers cost estimate, prices packers and
            movers
            nz, packers and movers in auckland, packers and movers auckland, prices packers and movers co nz, packing
            and
            moving services
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>